export(esgcortest)
export(esgdiscountfactor)
export(esgmartingaletest)
export(esgmccv)
export(esgfwdrates)
export(esgmcprices)
export(esgplotbands)
export(esgplotshocks)
export(esgplotts)
export(simdiff)
export(simshocks)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, qplot)
importFrom(gridExtra, grid.arrange)
importFrom(CDVine, CDVineSim)
importFrom(reshape2, melt)
importFrom(ycinterextra, ycinter)
importFrom(ycinterextra, ycextra)
importFrom(ycinterextra, fitted)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "lines", "matplot", "par", "plot",
             "points", "polygon")
importFrom("stats", "cor", "cor.test", "deltat", "end", "is.ts", "pt",
             "qnorm", "qt", "quantile", "sd", "start", "t.test", "time",
             "ts", "tsp", "window")
useDynLib("ESGtoolkit")

