export(calculatereturns)
export(esgcortest)
export(esgdiscountfactor)
export(esgmartingaletest)
export(esgmccv)
export(esgfwdrates)
export(esgmcprices)
export(esgplotbands)
export(esgplotshocks)
export(esgplotts)
export(simdiff)
export(simshocks)
export(forwardrates)
export(ycextra)
export(ycinter)
export(debug_print)
importFrom("graphics", "hist")
importFrom("methods", "new")
importFrom("stats", "density", "median", "nlminb", "optim", "pf",
               "qqline", "qqnorm", "shapiro.test")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom(ggplot2, ggplot)
importFrom(ggplot2, qplot)
importFrom(gridExtra, grid.arrange)
importFrom(randtoolbox, sobol)
importFrom(randtoolbox, halton)
importFrom(reshape2, melt)
importFrom(Rcpp, evalCpp)
importFrom("stats", "lag")
importFrom(VineCopula, C2RVine)
importFrom(VineCopula, D2RVine)
importFrom(VineCopula, RVineSim)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "lines", "matplot", "par", "plot",
             "points", "polygon")
importFrom("stats", "cor", "cor.test", "deltat", "end", "is.ts", "pt",
             "qnorm", "qt", "quantile", "sd", "start", "t.test", "time",
             "ts", "tsp", "window")
useDynLib("esgtoolkit")

